body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.carousel-images {
  width: 60%;
  margin: auto;
}

.carousel-item {
  height: 480px;
}

.breadcrumb,
.breadcrumb-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card {
  width: 18rem;
  align-items: center;
  margin: 1rem;
  background-color: beige;
  outline-style: auto;
}

.all-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-img-top {
  width: 15rem;
  height: 15rem;
  margin-top: 24px;
}

.form-control,
.btn-outline-success {
  padding: 0;
  margin: 5px;
}

.card-body {
  padding: 10px;
  margin: 10px;
  width: 240px;
}


.cart-view {
  display: flex;
  flex-direction: row;
}

.item-thumbnail {
  display: flex;
  flex-direction: row;

.media {
  margin: 20px;
}

.mr-3 {
  width: 30rem;
  height: 30rem;
}
